// Text
$primary-font-size: 1rem;
$primary-font-weight: 600;
$primary-line-height: 1.6875rem;

// Colors
$primary-bg-color: hsl(0, 0%, 100%);
$secondary-bg-color: hsl(0, 0%, 96%);
$primary-text-color: hsl(0, 0%, 0%);

// Spacing
$content-main-padding: 5.9375rem;
$content-main-padding-medium: 3.75rem;
$content-main-padding-small: 1.875rem;
